<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport"
      content="width=device-width, initial-scale=0.2, minimum-scale=0.2, maximum-scale=5.0, user-scalable=1.0" />
    <meta name="description"
      content="This is an Android Syntax Highlighter based on react-syntax-highlighter and UmiJS created by ShinChven." />
    <meta name="author" content="ShinChven@gmail.com" />
    <meta name="repository" content="https://github.com/ShinChven/AndroidSyntaxHighlighter" />
    <title>Android Syntax Highlighter</title>
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <!--suppress CheckTagEmptyBody -->
    <div id="root"></div>
  </body>
</html>
